 body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    margin-top: 50px;
    padding: 0;
    margin: 0;
  }
header{
    background-color: rgb(0, 0, 0);
    height: 150px;
    margin-bottom: 50px;
}
footer{
    background-color: rgb(0, 0, 0);
    height: 100px;
}
  .rating {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 40px;
    cursor: pointer;
  }

  .rating input {
    display: none;
  }

  .rating label {
    color: #ccc;
    transition: color 0.2s;
  }

  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #FFD700;
  }

  textarea {
    width: 80%;
    max-width: 500px;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    resize: none;
  }

  button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background: #FFD700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }

  button:hover {
    background: #e6c200;
  }

  #valor {
    margin-top: 10px;
    font-size: 18px;
  }

  #opiniones {
    margin-top: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .imagen{
    background-color: bisque;
    display: flex;
  }
  .imagen h1{
    font-size: 40px;
  }
  .imagen p{
    font-size: 25px;
  }
  .imagen img{
   height: 250px;
   padding: 20px;
   border-radius: 30px;
  }
  main h2{
   font-size: 25px;
  }